# I think matlab generates these when you're running interactive files
*.asv

# pycharm nonsense
*.idea

# python nonsense
*__pycache__*

# env vars,folders,files that should not be committed
.env

# pyinstaller created folders and files
dist/
build/
# may want to undo this, but for now we are treating .spec files as intermediary files
*.spec